<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p><!--'@owner' is the class....'.name' is the method... from the app/models/owner.rb file-->
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
 